@media (min-width:320px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
  }

  a {
    text-decoration: none;
  }

  header label span {
    width: 100%;
  }

  header label i#ojo {
    font-size: 1.5rem;
  }

  main#home{
    display: flex;
    flex-flow: row wrap;
    padding: 5rem;
    width: 100%;
    height: 100%;
  }
  main#home h1{
    width: 60vw;
    padding: 3vh;
    background-color: greenyellow;
    text-align: center;
    font-size: 2.8rem;
  }

  main#home p{
    width: 60vw;
    padding: 3vh;
    background-color: greenyellow;
    text-align: justify;
    font-size: 2.5rem;
  }

  main#productos button#openform {
    background-color: silver;
    color: black;
    font-weight: 900;
  }
  #iden{
    display: none;
  }

  .precio::after {
    content: " €";
  }
  .ram::after{
    content: " GB";
  }

  .descripcion {
    /* ayuda de francisco packet tracer */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
  }

  .nombre {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
  }

  #video {
    z-index: -1 !important;
    display: "flex";
    justify-content: center;
    flex-flow: row wrap;
    background-color: darkblue;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
  }
  .fotopro img{
    mix-blend-mode: multiply;
    filter: brightness(1.5);

  }
  .fotopro{
    background-color: white;
  }
  .backend{
    display: none;
    height: 0
  }
  .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root{
  display: none;
  }
}