  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
  }

  a {
    text-decoration: none;
  }

  main#home {
    background-image: url(./assets/foto-taller.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 93vh;
    display: flex;
    flex-flow: row wrap;
    padding: 1rem;
    gap: .5rem;
  }

  main#home h1 {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    height: max-content;
    font-size: 6vmin;
    color: white;
    font-size: 6vmax;
    width: 90vw;
    margin: 0 auto;
  }

  main#home p {
    width: 80%;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 3vmax;
    height: max-content;
    padding: 1vw;
  }

  main#productos button#openform {
    background-color: silver;
    color: black;
    font-weight: 900;
  }


  #tabla {
    object-fit: cover;
    width: 100vw !important;
  }

  main#backend {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 1rem;
    gap: .5rem;
  }

  .precio {
    color: black;
    font-weight: bolder;
    font-size: x-large;
  }

  .precio::after {
    content: " €";
  }

  .ram::after {
    content: " GB";
  }

  .desborde {
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 1 !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }

  .fotopro img {
    mix-blend-mode: multiply;
    filter: brightness(1);
  }

  .fotopro {
    mix-blend-mode: multiply;
    filter: brightness(1);
  }

  .backend {
    display: none !important;
  }

  .datacon {
    color: white;
  }

  .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
    display: none;
  }