header{
    /* height: 20vh; */
    border-radius: 0 !important;
    display: flex;
    width: 100%;
    background-color: black;
   animation: color-changer 3s infinite ease-in-out;
    align-items: center;
    text-align: justify;
    padding: 3vh;
}
    @keyframes color-changer {
        0% {
            background-color: black;
        }
        25%{
            background-color: gold;
        }
        50% {
            background-color: silver;
        }
        75%{
            background-color: lightcoral;
        }
        100%{
            background-color: black;
        }
    }
header figure#logo{
    order: 1;
    flex: 3/12;
    padding: 3vh;
    border-radius:1vh;
    background-color: black;
    animation: color-changer 5s infinite ease-in-out;
}
header figure h1{
    text-shadow: 2px 2px 0 white,
    4px 4px 0 black,
    6px 6px 0 silver;
    order: 2;
    width: 100%;
}
header figure#logo img{
    animation: rotar 3s infinite linear;   
}
    @keyframes rotar {
        0%{
            transform: rotate(0deg);
            opacity: 0.1;
        }
        50%{
            transform: rotate(360deg);
            opacity: 1;
        }
        100%{
            opacity: 0;
            transform: rotate(720deg);
        }
        
    }
header figure#mst{
    flex: 12/12;
    order: 3;
    display: flex;
    align-items: center;
    padding: 1vh;
    background-color: black;
}
header figure#mst img{
    border-radius: 1vh;
    animation: bordes 3s infinite ease-in-out;
    border: .8vh black solid;
}
    @keyframes bordes{
        0%{
            border-radius:1vh
        }
        50%{
            border-radius:4vh
        }
        75%{
            border-radius:8vh
        }
        100%{
            border-radius:1vh

        }
    }
header p{
    order: 4;
    width: 30%;
    width: max-content;
    font-size: 2.5vh;
    padding: 2vh;
    color: white;
    background-color: darkblue;
}