* { 
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
}
a{
    text-decoration: none;
}
@media screen and (min-width: 0px) {
    body main{
        display: flex;
        flex-flow: column nowrap;
    }
    body main header{
        flex-flow: column wrap;
        text-align: left;
        align-items: flex-start;
        background-color: rgba(255, 255, 0, 0.548)
    }
    body main header h1{
        color: black;
        font-weight: 900;
        text-align: left;
        padding: 10px;
        width: 100%;
    }
    body main header nav{
        flex-flow: row nowrap;
        justify-content: center;
        padding: 10px;
    }
    body main header nav a{
        color: brown;
    }
    body main header nav a:last-child{
        color: black;
        font-weight: 900;
    }
    body main header nav span{
        padding-left: 10px;
        padding-right: 10px
    }
    body main section{
        flex-flow: row wrap;
        padding: 5px;
    }
    body main section article{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: flex-start;
        border: solid 1px black;
        margin-bottom: 10px;
        align-items: center;
        border-radius: 10px;
    }
    body main section article figure{
        width: max-content;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        height:max-content;
        padding-top: 10px;
    }
    body main section article figure img{
        height: 150px;
        padding: 5px;
    }
    body main section article div#cuerpo{
        width: max-content;
        display: flex;
        flex-flow: row wrap;
    }
    body main section article div#cuerpo h3{
        width: 100%;
        display: flex;
        height: max-content;
        font-size: 35px;
        padding-left: 10px;
    }
    body main section article div#cuerpo p{
        width: 100%;
        text-align: justify;
        text-indent: 25px;
        padding: 10px;
        font-size: 20px;
    }
}
@media screen and (min-width: 650px){
    body main>header{
        flex-flow: row nowrap;
        align-items: center;
    }
    body main>header h1{
        padding: 0px;
        display: block;
        width: 50%;
        padding-left: 10px;
    }
    body main>header nav{
        flex-flow: row nowrap;
        width: 50%;
        font-size: 25px;
        text-align: right;
    }
    body main>section{
        display: flex;
        flex-flow:row wrap;
        justify-content: space-around;
    }
    body main>section article{
        width: 48%;
        display: flex;
        flex-flow:row wrap;
        justify-content: center;
        border: solid black 3px;
    }
    header nav#ppal a:hover{
        background-color: transparent;
    }
    header nav#ppal a:hover i{
        transition: 1s;
        transform: translateY(35px);
    }
    header nav#ppal a:hover span{
        transition: 1s;
        transform: translateY(-35px);
    }
    
    header nav#ppal a:nth-child(1):hover i{
        transition: 1s;
        transform: translateY(-35px);
    }

    header nav#ppal a:nth-child(1):hover i{
        transition: 1s;
        transform: translateY(-35px);
    }
    header nav#ppal a:not(hover) i{
        transition: 1s;
    }
    header nav#ppal a:nth-child(1):hover span{
        transition: 1s;
        transform: translateY(35px);
    }
    header nav#ppal a:not(hover) span{
        transition: 1s;
    }

}
@media screen and (min-width: 900px){
    body main header h1{
        padding-left: 50px;
    }
    body main header nav{
        padding-right: 100px;
    }
    body main section article{
        width: 31%;
    }
}