*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div.container{
    display: grid;
    grid-template-rows: 20% 60% 20%;
}
header{
    height: 150px;
    background-color: red;
    display: grid;
    grid-template-columns: 20% 60% 20%;
}
main{
    border: solid 2px black;
    height: 400px;
}
main section{
    background-color: gray;
    height: 200px;
}
main aside{
    background-color: orange;
    height: 500px;
}
footer{
    background-color: black;
    height: 300px;
}